logs
project/project
project/target
target
tmp
.history
dist
/.idea
/*.iml
/out
/.idea_modules
/.classpath
/.project
/RUNNING_PID
/.settings

# large videos
a-language-for-ben.mp4
a-language-for-ben.webm

# H2 database files
*h2.db
*.lock.db
*.trace.db
